/* blockquote */
blockquote,
.wp-block-quote {
    padding: 0 20px 20px 20px;
    border-top: 2px solid var(--jlbestblog-theme-color);
    border-bottom: 2px solid var(--jlbestblog-theme-color);
    border-left: none;
}

blockquote {
    padding-top: 20px;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote {
    border-left: none;
}

.wp-block-quote.is-style-large,
.wp-block-quote.is-style-large:not(.is-style-plain) {
    padding: 0 20px 20px 20px;
    border-top: 2px solid var(--jlbestblog-theme-color);
    border-bottom: 2px solid var(--jlbestblog-theme-color);
}

.wp-block-quote.has-text-align-right {
    border-right: none;
}

.wp-block-pullquote {
    border: none;
}

.wp-block-pullquote.has-background blockquote  {
    border-top: none;
    border-bottom: none;
    padding: 0;
    margin: 0 auto;
    max-width: 80%;
}

@media screen and (min-width: 768px) {
    .wp-block-pullquote.has-background blockquote {
        max-width: 60%;
    }
}

/* separator */
.wp-block-separator {
    width: 100%;
    margin: 40px 0;
    border-color: var(--jlbestblog-theme-color);
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.wp-block-separator.is-style-wide {
    width: 100%;
}

.wp-block-separator.is-style-dots::before {
    color: var(--jlbestblog-theme-color);
}

/* buttons */
.wp-block-button .wp-block-button__link {
    border-radius: 0;
    text-decoration: none;
}

.wp-block-button.is-style-squared .wp-block-button__link {
    border-radius: 0;
}

.wp-block-button.is-style-outline .wp-block-button__link {
    border-radius: 9999px;
}
